@import '../../shared/styles/colors.scss';

header {
    min-width: 320px;
    width: 100%;
    padding: 5px 12px;
    height: 70px;
    box-shadow: 0px 5px 10px 0px grey;
}


.container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}


.progress {
    display: block;
    text-decoration: none;
    color: black;
    height: 40px;
    flex-grow: 1;
}


.title {
    font-size: 14px;
    height: 20px;
    margin-bottom: 8px;
}


.line {
    height: 12px;
    width: 100%;
    border: 1px solid $main-violet;
    border-radius: 4px;
}


.done {
    height: 100%;
    background-color: $main-violet;
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: black;
    width: 50px;
    height: 100%;
    
}


.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $main-violet;
}


.name {
    line-height: 15px;
    font-size: 16px;
}