@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/fonts/Ubuntu-Medium.ttf');
    font-weight: bold;
    font-style: normal;
}


* {
	padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Ubuntu;
}


body {
    min-width: 320px;
}