.loading {
    margin: 0 auto;
    animation: round 2s linear infinite;
    img {
        width: 100%;
    }
}


@keyframes round {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.max {
    width: 256px;
    height: 256px;
}


.med {
    width: 128px;
    height: 128px;
}


.min {
    width: 64px;
    height: 64px;
}