.loading {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}

.finish {
  width: 100%;
  text-align: center;
  font-size: 24px;
  margin-top: 30px;
}
