.container {
  width: 90%;
  max-width: 380px;
  margin: 20px auto;
  border: 3px solid var(--main);
  padding: 8px;
  border-radius: 6px;
  position: relative;
}

.data {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 12px;
}

.email {
  font-size: 18px;
}

.exit {
  margin-top: 70px;
}

.code {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}

.remove {
  font-size: 15px;
  color: red;
  text-decoration: underline;
  position: absolute;
  top: 5px;
  right: 5px;
  &:hover {
    cursor: pointer;
  }
}
