.container {
  width: 96%;
  max-width: 600px;
  background-color: var(--main);
  margin: 30px auto 15px auto;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
}

.headline {
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 10px;
}

.subheadline {
  font-size: 16px;
  margin-bottom: 8px;
}

.acts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.act {
  background-color: var(--green);
  width: 30%;
  border-radius: 5px;
  font-size: 17px;
  text-align: center;
  padding: 8px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}

.active {
  background-color: white;
  color: var(--main);
}

.success {
  width: 100%;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 6px;
}

.question {
  font-size: 15px;
  line-height: 15px;
  margin-bottom: 8px;
}

.buttons {
  width: 100%;
  height: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.btn {
  flex-grow: 1;
  border-radius: 5px;
  text-align: center;
  line-height: 34px;
  user-select: none;
  transition: all 0.5s;
  &:hover {
    cursor: pointer;
  }
}

.true {
  background-color: var(--green);
}

.false {
  background-color: red;
}
