@import '../../shared/styles/colors.scss';

.button {
  min-width: 150px;
  padding: 0 10px;
  height: 35px;
  background-color: $main-violet;
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 6px;
  user-select: none;
  &:hover {
    cursor: pointer;
  }
}
