@import '../../shared/styles/colors.scss';

.input {
  width: 100%;
  height: 34px;
  padding: 0px 5px;
  border: 2px solid $main-violet;
  border-radius: 6px;
  font-size: 16px;
  &:focus {
    outline: none;
  }
}

.error {
  border-color: red;
}
